<% if (items.length!==0) { %>
<ul>
  <% items.forEach(item => { %>

  <li>
    <a href="<%= item.url %>">
      <h2>Name: <%= item.name %></h2>
    </a>
    <h3>Category: <%= item.category %></h3>
    <p>Description: <%= item.description %></p>
    <h3>Price: <%= item.price %>$</h3>
    <p>Number in stock: <%= item.number %></p>
  </li>

  <% }) %>
</ul>
<% } else { %>
<h2>There are no active items at the moment</h2>
<% } %>

<a href="/items/create">Create an item</a>