<form action="" method="POST" enctype="multipart/form-data">
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="<%=
    item===undefined?"":item.name %>" />
  </div>
  <div>
    <label for="description">Description:</label>
    <textarea name="description" id="description" cols="30" rows="10">
      <%= item===undefined?"":item.description %>
    </textarea>
  </div>
  <!-- TODO: add select element for categories -->
  <div>
    <label for="category">Category: </label>
    <select name="category" id="">
      <% categories.forEach(category => { %>
      <% if (item) { %>
      <option value="<%= category._id %>" <%= category._id.toString()===item.category._id.toString()?"selected":""; %>>
        <%= category.name %>
      </option>
      <% }else { %>
      <option value="<%= category._id %>"><%= category.name %></option>
      <% } %>
      <% }) %>
    </select>
  </div>
  <div>
    <label for="price">Price:</label>
    <input type="number" name="price" id="name" value="<%=
    item===undefined?"":item.price %>" />
  </div>
  <div>
    <div>
      <label for="number">Number in stock:</label>
      <input type="number" name="number" id="name" value="<%=
      item===undefined?"":item.number %>" />
    </div>
    <br>
    <br>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" />
    </div>
    <br>
    <input type="file" name="itemImage" />
    <button>Submit</button>
    <% if (errors) { %>
    <ul>
      <% errors.forEach(error => { %>
      <li><%= error.msg%></li>
      <% }) %> <% } %>
    </ul>
</form>