<h2><%= item.name %></h2>
<h3>Category: <%= item.category.name %></h3>
<p>Description: <%= item.description %></p>
<h3>Price: <%= item.price %>$</h3>
<p>Number in stock: <%= item.number %></p>
<br />
<a href="<%= item.url %>/update">Update Item</a>
<br />
<a href="<%= item.url %>/delete">Delete Item</a>